
#content{

    position: absolute;
    top:20px;
    left: 50px;
    width:276px;
    height:244px;

    border-radius: 5px 5px 5px 5px;
}

#show {
    position: absolute;
    top:0px;
    left: 0px;
    width:248px;
    height:22px;
    overflow:hidden;
    background-color:white;
    border-radius: 5px 0px 0px 5px;
    border: solid 1px black;


}

#del {
    position: absolute;
    top: 0px;
    left: 249px;
    width:25px;
    height:22px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    background-color:red;
    border: solid 1px black;



}

#state {
    position:absolute;
    top: 28px;
    overflow: auto;
    border: solid 1px black;
    background-color: white;
    height: 200px ;
    width: 274px;
    border-radius: 4px 4px 4px 4px;
padding:0px 0px 0px 5px
}

#input{
    position:absolute;
    top: 233px;
    width:227px;
    height: 18px;
    border-radius: 5px 0px 0px 5px;
    border: solid 1px ;
}

#input_button {

    position:absolute;
    top: 233px;
    left: 229px;
    height: 22px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border: solid 1px;
    background: #4fff55;
    size: 100px;

}